__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# 训练产物
output/
logs/
*.pth
*.ckpt
*.pkl
tools/log.txt
tools/debug_images/
mav6d_vis/

# 数据集
data/
data_collect/
dataset/

.idea/
.vscode/
*.bak
.DS_Store
